@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lcv5qg');
  src:  url('fonts/icomoon.eot?lcv5qg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lcv5qg') format('truetype'),
    url('fonts/icomoon.woff?lcv5qg') format('woff'),
    url('fonts/icomoon.svg?lcv5qg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-equalizer:before {
  content: "\e992";
}
.icon-github:before {
  content: "\eab0";
}
